body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.video-section {
    /* display: flex; */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    /* max-width: 800px; */
}

.card_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.video-section h2 {
    color: #333;
}

.video-card {
    max-width: 30%;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.video-card iframe {
    width: 100%;
    height: 315px;
    border: none;
    border-radius: 10px;
}

.video-card p {
    color: #666;
}


/* Animation for video card hover */

.video-card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}